<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="./resources/css/default.css" rel="stylesheet" type="text/css" />
        <link href="./resources/css/cssLayout.css" rel="stylesheet" type="text/css" />
        <title>
            <ui:insert name="title">Facelets Template</ui:insert>
        </title>
    </h:head>

    <h:body>
        <div id="top" class="top">
            <h:form id="menu">
                <ul class="menulist">
                    <li><h:outputText value="GESTIÓN AVISOS EMASA"/></li>
                    <c:if test="#{controlAutorizacion.usuario.rol == 'SUPERVISOR'}">
                        <li><h:outputText value="Supervisor"/></li>
                    </c:if>  
                    <c:if test="#{controlAutorizacion.usuario.rol == 'OPERADOR'}">
                        <li><h:outputText value="Operador"/></li>
                    </c:if>  
                    <c:if test="#{controlAutorizacion.usuario.rol == 'TRABAJADOR'}">
                        <li><h:outputText value="Trabajador"/></li>
                    </c:if>            
                    <li><h:commandLink action="#{controlAutorizacion.home()}" value="Inicio"/></li>
                    <c:if test="#{!empty controlAutorizacion.usuario}">
                        <li><h:commandLink action="#{controlAutorizacion.logout()}" value="Salir"/></li>
                    </c:if>
                </ul>
            </h:form>
        </div>
        
        <div id="content" class="center_content">

            <ui:insert name="contenido">Content</ui:insert>
        </div>
    </h:body>

</html>