<ui:composition template="/WEB-INF/templates/plantilla.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui">
    <ui:define name="title">buscarAfectado</ui:define>
    <ui:define name="contenido">
        <c:choose>
            <c:when test="#{controlAutorizacion.usuario.rol == 'TRABAJADOR'}">
                <p:layout style="min-width:400px;min-height:700px;">
                    <p:layoutUnit position="center">
                        <h:form id="buscaAfectado">      

                            <p:growl id="msgs" showDetail="true" />

                            <h3 style="margin-top:0">Busqueda</h3>
                            <p:tabView id="tablaBusqueda">
                                <p:tab title="Busqueda Realizada">
                                    <h:dataTable id="afectado" value="#{controlAfectado.afectado}" border="0">
                                        <h:column>
                                            <f:facet name="header">
                                                <h:outputText value="Afectado seleccionado."/>
                                            </f:facet>
                                            <br><h:outputText value="ID: #{controlAfectado.afectado.id_afectado}" style="min-width: 250px;min-height: 20px"/></br>
                                            <br><h:outputText value="Nombre: #{controlAfectado.afectado.nombre}" style="min-width: 250px;min-height: 20px"/></br>
                                            <br><h:outputText value="Direccion: #{controlAfectado.afectado.direccion}" style="min-width: 250px;min-height: 20px"/></br>
                                            <br><h:outputText value="Disponibilidad: #{controlAfectado.afectado.disponibilidad}" style="min-width: 250px;min-height: 20px"/></br>
                                            <br><h:outputText value="Telefono: #{controlAfectado.afectado.telefono}" style="min-width: 250px;min-height: 20px"/></br>
                                            
                                        </h:column>
                                    </h:dataTable>                                                                
                                    <p:commandButton value="Atrás" id="atras3" action="#{controlAfectado.atras}" ajax="false" />
                                </p:tab>
                            </p:tabView>               
                        </h:form>
                    </p:layoutUnit>
                    
                </p:layout>
                
                </c:when>
            <c:otherwise>
                <ui:include src="/WEB-INF/templates/errorAutorizacion.xhtml"/>
            </c:otherwise>
        </c:choose>
    </ui:define>
</ui:composition>