<ui:composition template="/WEB-INF/templates/plantilla.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui">
    <ui:define name="title">Aviso Particular</ui:define>
    <ui:define name="contenido">
        <c:choose>
            <c:when test="#{controlAutorizacion.usuario.rol == 'SUPERVISOR'}">
                <p:layout style="min-width:400px;min-height:800px">


                    <p:layoutUnit position="center" resizable="true" size="100" minSize="500" maxSize="700">
                        <h:form id="avisoParticular">
                            <p:growl id="msgs" showDetail="true" />
                            <h:outputText value="Operador: #{controlAviso.aviso.getOperador_A().getNombre()}"/><br/><br/>


                            <h:outputText value="Datos Generales: " style="font-weight: bold"/><br/><br/>
                            <h:dataTable id="afectado" value="#{controlAviso.afectado}" border="0">
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Datos del afectado."/>
                                    </f:facet>
                                    <br><h:outputText value="ID: #{controlAviso.afectado.id_afectado}" style="min-width: 250px;min-height: 20px"/></br>
                                    <br><h:outputText value="Nombre: #{controlAviso.afectado.nombre}" style="min-width: 250px;min-height: 20px"/></br>
                                    <br><h:outputText value="Direccion: #{controlAviso.afectado.direccion}" style="min-width: 250px;min-height: 20px"/></br>
                                    <br><h:outputText value="Disponibilidad: #{controlAviso.afectado.disponibilidad}" style="min-width: 250px;min-height: 20px"/></br>
                                    <br><h:outputText value="Telefono: #{controlAviso.afectado.telefono}" style="min-width: 250px;min-height: 20px"/></br>

                                </h:column>
                            </h:dataTable> 

                            <h:dataTable id="tabla_aviso" value="#{controlAviso.afectado}" border="0">
                                <h:column>
                                    <f:facet name="header">
                                        <br/><h:outputText value="Datos del aviso."/>
                                    </f:facet>
                                    <br/>
                                    <h:outputText value="Estado: #{controlAviso.aviso.getEstado()}"/><br/><br/>
                                    <h:outputText value="Urgencia: #{controlAviso.aviso.getGrado_Urgencia()}"/><br/><br/>
                                    <h:outputText value="ID #{controlAviso.aviso.getId_Aviso()}"/>
                           
                                </h:column>
                            </h:dataTable>
                        </h:form>
                    </p:layoutUnit>
   
                    <p:layoutUnit position="east" resizable="true" size="100" minSize="500" maxSize="600">
                        <h:form id="avisoParticular1">
                            <h:outputText value="Supervisor : #{controlAviso.aviso.getSupervisor_A().getNombre()}"/><br/><br/>
                            <h:outputText value="Órdenes Relacionadas" style="font-weight: bold"/><br/>
                           
                            <p:selectOneRadio value="#{controlOT.orden.id_Orden}" layout="pageDirection" id="Lista_de_ordenes" required="true">
                                <f:selectItems value="#{controlAviso.ordenes}" var="bk" itemLabel="#{bk.id_Orden} : #{bk.descripcion}" itemValue="#{bk.id_Orden}"/>
                            </p:selectOneRadio>                       
                            <p:commandButton value="Ver OT" id="verOT" action="#{controlOT.setOrdenTrabajo()}" ajax="false" />                           

                        </h:form>
                        <h:form id ="atrasSupervisor">
                            <p:commandButton value="Generar Orden de Trabajo" id="generarOT" action="#{controlAviso.crearOT(controlAutorizacion.usuario)}" ajax="false" />
                            <p:commandButton value="Atrás" id="atras" action="#{controlOT.atras}" ajax="false" />
                        </h:form>
                        
                    </p:layoutUnit>
                </p:layout>
            </c:when>
            <otherwise>
                <ui:include src="/WEB-INF/templates/errorAutorizacion.xhtml"/>
            </otherwise>
        </c:choose>
    </ui:define>
</ui:composition>