<ui:composition template="/WEB-INF/templates/plantilla.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui">
    <ui:define name="title">buscarAviso</ui:define>
    <ui:define name="contenido">
         <c:choose>
            <c:when test="#{controlAutorizacion.usuario.rol == 'TRABAJADOR'}">
                <p:layout style="min-width:400px;min-height:700px;">
                    <p:layoutUnit position="center">
                    
                        <h:form id ="busqueda">      

                            <p:growl id="msgs" showDetail="true" />

                            <h3 style="margin-top:0">Busqueda</h3>
                            <p:tabView id="tablaBusqueda1">
                                <p:tab title="Busqueda Realizada">
                                    <h:dataTable id="Lista_de_avisos" value="#{controlBusqueda.aviso}" border="0">
                                        <h:column>
                                            <f:facet name="header">
                                                <h:outputText value="Aviso"/>
                                            </f:facet>
                                            <br><h:outputText value="ID: #{controlBusqueda.aviso.id_Aviso}" style="min-width: 250px;min-height: 20px"/></br>
                                            <br><h:outputText value="Nombre: #{controlBusqueda.aviso.nombre}" style="min-width: 250px;min-height: 20px"/></br>
                                            <br><h:outputText value="Estado: #{controlBusqueda.aviso.estado}" style="min-width: 250px;min-height: 20px"/></br>
                                            <br><h:outputText value="Grado de urgencia: #{controlBusqueda.aviso.grado_Urgencia}" style="min-width: 250px;min-height: 20px"/></br>
                                            <br><h:outputText value="Informe: #{controlBusqueda.aviso.informe}" style="min-width: 250px;min-height: 20px"/></br>
                                        </h:column>
                                    </h:dataTable> 
                                    <p:commandButton value="Ver afectado" id="verAfectado" action="#{controlAfectado.setId(controlBusqueda.aviso.id_Aviso)}" ajax="false" />                         
                                    <p:commandButton value="Atrás" id="atras3" action="#{controlOT.atras1}" ajax="false" />

                                </p:tab>
                            </p:tabView>               
                        </h:form>
                    </p:layoutUnit>

                </p:layout>
                 </c:when>
            <c:otherwise>
                <ui:include src="/WEB-INF/templates/errorAutorizacion.xhtml"/>
            </c:otherwise>
        </c:choose>
    </ui:define>
</ui:composition>