<ui:composition template="/WEB-INF/templates/plantilla.xhtml" 
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:p="http://primefaces.org/ui">
    <ui:define name="title">Autenticando</ui:define>
    <ui:define name="contenido">
        <c:choose>
            <c:when test="#{empty controlAutorizacion.usuario}">
                <h:form id="login">
                    <h2>GESTIÓN AVISOS EMASA</h2>
                    <table>
                        <tr>
                            <td>Usuario: </td>
                            <td><h:inputText value="#{login.usuario.id_Usuario}" id ="usuario" required="true"/></td>
                        </tr>
                        <tr>
                            <td>Contraseña: </td>
                            <td><h:inputSecret value="#{login.usuario.contrasenia}" id="pass" required="true" /></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <p:commandButton value="Autenticar" id="autenticar" action="#{login.autenticar()}" ajax="false" />
                                
                            </td>
                        </tr>
                    </table>
                </h:form>
            </c:when>
            <c:otherwise>
                <p>Debe salir de la aplicación si quiere entrar como otro usuario</p>
            </c:otherwise>
        </c:choose>
        <h:messages/>
    </ui:define>
</ui:composition>

