<ui:composition template="/WEB-INF/templates/plantilla.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui">
    <ui:define name="title">Notificación</ui:define>
    <ui:define name="contenido">
        <c:choose>
            <c:when test="#{controlAutorizacion.usuario.rol == 'OPERADOR'}">
                <p:layout  style="min-width:400px;min-height:600px;">
                    <p:layoutUnit position="center" resizable="true" size="100" minSize="500" maxSize="625">
                        <h:form id="operador">
                            <p:growl id="growl" sticky="true" showDetail="true"/>
                            <p:wizard flowListener="#{controlOperador.onFlowProcess}">
                                <p:tab id="notificacion" title="Notificación">
                                    <p:panel header="Detalles Notificación">
                                        <p:messages />
                                        <h:panelGrid columns="2" columnClasses="label, value">
                                            <h:outputText value="Descripción: * " />
                                            <p:inputText value="#{controlOperador.notificaciones.descripcion}" id="crearDescripcionNotificacion" required="true" label="Descripción"/>

                                            <p:outputLabel value="Fecha: * "/>
                                            <p:inputText value="#{controlOperador.notificaciones.fecha}" id="crearFechaNotificacion" required="true" label="Fecha"/>

                                            <h:outputText value="Notificador: " />
                                            <p:inputText value="#{controlOperador.notificaciones.notificador}" id="crearNotificadorNotificacion"/>

                                            <h:outputText value="Teléfono Notificador: " />
                                            <p:inputText value="#{controlOperador.notificaciones.tlf_notificador}" id="crearTlfNotificacion"/>

                                            <h:outputText value="Email: " />
                                            <p:inputText value="#{controlOperador.notificaciones.email}" id="crearEmailNotificacion"/>
                                            
                                            <p:commandButton value="Limpiar" id="limpiarN" actionListener="#{controlOperador.limpiarN}" ajax="false" />
                                            
                                        </h:panelGrid>
                                    </p:panel>
                                </p:tab>

                                <p:tab id="aviso" title="Aviso">
                                    <p:panel header="Detalles Aviso">
                                        <p:messages />
                                        <h:panelGrid columns="2" columnClasses="label, value">
                                            <h:outputText value="Nombre: * " />
                                            <p:inputText value="#{controlOperador.avisos.nombre}" id="crearNombreAviso" required="true" label="Nombre"/>

                                            <h:outputText value="Urgencia: * " />
                                            <p:selectOneMenu value="#{controlOperador.avisos.grado_Urgencia}" id="crearGradoUrgenciaAviso" required="true" label="Grado Urgencia">
                                                <f:selectItem itemLabel="Seleccione Una" itemValue="" />
                                                <f:selectItem itemLabel="Urgente" itemValue="Urgente" />
                                                <f:selectItem itemLabel="Planificada" itemValue="Planificada" />
                                            </p:selectOneMenu>

                                            <h:outputText value="Estado: * " />                                          
                                            <p:selectOneMenu value="#{controlOperador.avisos.estado}" id="crearEstadoAviso" required="true" label="Estado">
                                                <f:selectItem itemLabel="Seleccione Una" itemValue="" />
                                                <f:selectItem itemLabel="En cola" itemValue="enCola" />
                                                <f:selectItem itemLabel="Abierto" itemValue="abierto" />
                                                <f:selectItem itemLabel="Despachado Movilidad" itemValue="despachadoMovilidad" />
                                                <f:selectItem itemLabel="Generada OT" itemValue="generadaOT" />
                                                <f:selectItem itemLabel="Cerrado" itemValue="cerrado" />
                                            </p:selectOneMenu>

                                            <h:outputText value="Informe: " />
                                            <p:inputTextarea value="#{controlOperador.avisos.informe}" id="crearInformeAviso"/>

                                            <p:commandButton value="Limpiar" id="limpiarAv" actionListener="#{controlOperador.limpiarAv}" ajax="false" />
                                        </h:panelGrid>
                                    </p:panel>
                                </p:tab>

                                <p:tab id="afectado" title="Afectado">
                                    <p:panel header="Detalles Afectado">
                                        <p:messages />
                                        <h:panelGrid columns="2" columnClasses="label, value">
                                            <h:outputText value="Nombre: " />
                                            <p:inputText value="#{controlOperador.afectados.nombre}" id="crearNombreAfectado"/>

                                            <h:outputText value="Direccion: * " />
                                            <p:inputText value="#{controlOperador.afectados.direccion}" id="crearDireccionAfectado" required="true" label="Fecha"/>

                                            <h:outputText value="Telefono: " />
                                            <p:inputText value="#{controlOperador.afectados.telefono}" id="crearTlfAfecctado"/>

                                            <h:outputText value="Disponibilidad: " />
                                            <p:inputText value="#{controlOperador.afectados.disponibilidad}" id="crearDisponibilidadAfectado"/>

                                            <p:commandButton value="Limpiar" id="limpiarAf" actionListener="#{controlOperador.limpiarAf}" ajax="false" /> 
                                        </h:panelGrid>
                                    </p:panel>
                                </p:tab>

                                <p:tab id="confirm" title="Confirmación">
                                    <p:panel header="Revisión notificación">
                                        <h:panelGrid id="confirmation" columns="3" columnClasses="grid,grid,grid">
                                            <h:panelGrid columns="2" columnClasses="label, value">                                               
                                                <h:outputText value="Descripción: " />
                                                <h:outputText value="#{controlOperador.notificaciones.descripcion}" styleClass="outputLabel"/>

                                                <h:outputText value="Fecha: " />
                                                <h:outputText value="#{controlOperador.notificaciones.fecha}" styleClass="outputLabel"/>

                                                <h:outputText value="Notificador: " />
                                                <h:outputText value="#{controlOperador.notificaciones.notificador}" styleClass="outputLabel"/>

                                                <h:outputText value="Teléfono Notificador: " />
                                                <h:outputText value="#{controlOperador.notificaciones.tlf_notificador}" styleClass="outputLabel"/>

                                                <h:outputText value="Email: " />
                                                <h:outputText value="#{controlOperador.notificaciones.email}" styleClass="outputLabel"/>

                                            </h:panelGrid>
                                        </h:panelGrid>
                                    </p:panel>
                                    <p:panel header="Revisión Aviso">
                                        <h:panelGrid id="confirmation1" columns="1" columnClasses="grid">
                                            <h:panelGrid columns="2" columnClasses="label, value">
                                                <h:outputText value="Nombre:  " />
                                                <h:outputText value="#{controlOperador.avisos.nombre}" styleClass="outputLabel"/>

                                                <h:outputText value="Grado Urgencia:  " />
                                                <h:outputText value="#{controlOperador.avisos.grado_Urgencia}" styleClass="outputLabel"/>

                                                <h:outputText value="Estado:  " />
                                                <h:outputText value="#{controlOperador.avisos.estado}" styleClass="outputLabel"/>

                                                <h:outputText value="Informe: " />
                                                <h:outputText value="#{controlOperador.avisos.informe}" styleClass="outputLabel"/>
                                            </h:panelGrid>
                                        </h:panelGrid>
                                    </p:panel>

                                    <p:panel header="Revisión Afectado">
                                        <h:panelGrid id="confirmation2" columns="1" columnClasses="grid">
                                            <h:panelGrid columns="2" columnClasses="label, value">
                                                <h:outputText value="Nombre:  " />
                                                <h:outputText value="#{controlOperador.afectados.nombre}" styleClass="outputLabel"/>

                                                <h:outputText value="Dirección:  " />
                                                <h:outputText value="#{controlOperador.afectados.direccion}" styleClass="outputLabel"/>

                                                <h:outputText value="Teléfono:  " />
                                                <h:outputText value="#{controlOperador.afectados.telefono}" styleClass="outputLabel"/>

                                                <h:outputText value="Disponibilidad: " />
                                                <h:outputText value="#{controlOperador.afectados.disponibilidad}" styleClass="outputLabel"/>
                                            </h:panelGrid>
                                        </h:panelGrid>
                                    </p:panel>                                   
                                    <p:commandButton value="Crear Aviso" id="crearAviso" actionListener="#{controlOperador.crear(controlAutorizacion.usuario)}" ajax="false" />                                                                     
                                </p:tab>
                            </p:wizard>
                        </h:form>
                    </p:layoutUnit>
                </p:layout>
            </c:when>
            <c:otherwise>
                <ui:include src="/WEB-INF/templates/errorAutorizacion.xhtml"/>
            </c:otherwise>
        </c:choose>
    </ui:define>

</ui:composition>