<ui:composition template="/WEB-INF/templates/plantilla.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui">
    <ui:define name="title">Orden de Trabajo</ui:define>
    <ui:define name="contenido">
        <c:choose>
            <!-- CUANDO TENEMOS UN TRABAJADOR -->
            <c:when test="#{controlAutorizacion.usuario.rol == 'TRABAJADOR'}">
                <p:layout style="min-width:400px;min-height:800px;">
                    <p:layoutUnit position="west" style="min-width: 400px;min-height: 400px;max-width: 500;max-height: 500px">
                        <h:form id ="otTrabajador" >     

                            <p:growl id="msgs" showDetail="true" />
                            <!-- La idea es que cuando se pulsa el boton de modificar OT,
                            el boton cambie la orden seleccionada en controlOT -->
                            <h:outputLabel value=" ID: #{controlOT.get_Id()}\ " />
                            <h:button value="Volver" outcome="trabajador.xhtml"></h:button>
                            <br></br>
                            <br></br>
                            <h:inputTextarea id ="descripcionOt" value="Descripción #{controlOT.get_Descripcion()}" style="min-width: 380px;min-height: 440px"/>
                            
                        </h:form>
                    </p:layoutUnit>
                    
                    
                    <!-- Los trabajadores asignados a la orden. -->
                    <p:layoutUnit position="center" style="min-width: 400px;min-height: 400px;max-width: 500;max-height: 500px">
                        <h:dataTable id="Lista_de_trabajadores" value="#{controlOT.getTrabajadores()}" var="bk" border="0" cellpadding="10" >
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="Nombre"/>
                                </f:facet>
                                <h:outputText value="#{bk.nombre}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="Apellidos"/>
                                </f:facet>
                                <h:outputText value="#{bk.apellidos}"/>
                            </h:column>
                        </h:dataTable>
                    </p:layoutUnit>
                    
                    <p:layoutUnit position="east" style="min-width: 400px;min-height: 400px;max-width: 500;max-height: 500px">
                        <h:form id ="otTrabajador1">
                            <h:selectOneMenu style="min-width: 80px;" id="estadoOT">
                                <f:selectItem itemLabel="Activa" id="activaOT"/>
                                <f:selectItem itemLabel="Cerrada" id="cerradaOT"/>
                            </h:selectOneMenu>
                            <br></br>
                            <br></br>
                            <h:inputText value="Fecha de activación: #{controlOT.initialDate}" style="min-width: 250px;min-height: 20px"/>
                            <br></br>
                            <br></br>
                            <h:inputText value="Fecha de finalización: #{controlOT.finalDate}" style="min-width: 250px;min-height: 20px"/>
                            <br></br>
                            <br></br>
                        </h:form>
                    </p:layoutUnit>
                </p:layout>
            </c:when>
            
            
            <!-- PARTE QUE VE EL SUPERVISOR -->
            <c:when test="#{controlAutorizacion.usuario.rol == 'SUPERVISOR'}">
                <p:layout style="min-width:400px;min-height:800px;">
                    <p:layoutUnit position="west" style="min-width: 400px;min-height: 400px;max-width: 500;max-height: 500px">
                        <h:form id ="otSupervisor">     
                            <p:growl id="msgs" showDetail="true" />
                            <h:outputLabel value=" ID: #{controlOT.get_Id()} " />
                            <h:button value="Volver" outcome="AvisoParticular.xhtml"></h:button>
                            <br></br>
                            <br></br>
                            <h:inputTextarea id="descripcionOt1" value="Descripción #{controlOT.get_Descripcion()}" style="min-width: 380px;min-height: 440px"/>                            
                        </h:form>
                    </p:layoutUnit>
                    
                    
                    <!-- Los trabajadores asignados a la orden. -->
                    <p:layoutUnit position="center" style="min-width: 400px;min-height: 400px;max-width: 500;max-height: 500px">
                        <h:dataTable id="Lista_de_trabajadores" value="#{controlOT.getTrabajadores()}" var="bk" border="0" cellpadding="10" >
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="Nombre"/>
                                </f:facet>
                                <h:outputText value="#{bk.nombre}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="Apellidos"/>
                                </f:facet>
                                <h:outputText value="#{bk.apellidos}"/>
                            </h:column>
                        </h:dataTable>
                        <br></br>
                        <br></br>
                       
                    </p:layoutUnit>
                    
                    <p:layoutUnit position="east" style="min-width: 400px;min-height: 400px;max-width: 500;max-height: 500px">
                        <h:form  id ="otSupervisor1">
                            <h:selectOneMenu style="min-width: 80px;" id="estadoOT1">
                                <f:selectItem itemLabel="Activa" id="activa"/>
                                <f:selectItem itemLabel="Cerrada" id="cerrada"/>
                            </h:selectOneMenu>
                            <br></br>
                            <br></br>
                            <h:inputText value="Fecha de activación: #{controlOT.initialDate}" style="min-width: 250px;min-height: 20px"/>
                            <br></br>
                            <br></br>
                            <h:inputText value="Fecha de finalización: #{controlOT.finalDate}" style="min-width: 250px;min-height: 20px"/>
                            <br></br>
                            <br></br>
                            
                        </h:form>
                    </p:layoutUnit>
                </p:layout>
            </c:when>
            <c:otherwise>
                <ui:include src="/WEB-INF/templates/errorAutorizacion.xhtml"/>
            </c:otherwise>
        </c:choose>
    </ui:define>

</ui:composition>
