<ui:composition template="/WEB-INF/templates/plantilla.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui">
    <ui:define name="title">Pagina principal del supervisor</ui:define>
    <ui:define name="contenido">
        <c:choose>
            <c:when test="#{controlAutorizacion.usuario.rol == 'SUPERVISOR'}">
                <p:layout  style="min-width:400px;min-height:500px;">
                    <p:layoutUnit position="center" resizable="true" size="100" minSize="500" maxSize="600">
                              
                            <p:growl id="msgs" showDetail="true" />
                            <p:tabView id="tablaAvisos">
                                <p:tab title="Avisos No Leídos">
                                    <h:form id="avisosNoLeidos"> 
                                    <c:choose>
                                        <c:when test="#{not empty supervisorBean.listaNavisos}">
                                            <p:selectOneRadio value="#{supervisorBean.nAviso.id_Aviso}" layout="pageDirection" id="Lista_de_avisos_nuevos" required="true" >
                                                <f:selectItems value="#{supervisorBean.listaNavisos}" var="bk" itemLabel="#{bk.id_Aviso} : #{bk.nombre}" itemValue="#{bk.id_Aviso}" />
                                            </p:selectOneRadio>
                                            <p:commandButton value="Ver aviso" id="verAviso" action="#{controlAviso.setAvisoN(supervisorBean.nAviso.id_Aviso)}" ajax="false" />

                                        </c:when>
                                        <c:otherwise>
                                            <h:outputText value="No hay avisos cerrados"/>
                                        </c:otherwise>
                                    </c:choose>
                                    </h:form>
                                </p:tab>
                            <p:tab title="Avisos Leídos">
                                <h:form id="avisosLeidos">
                                    <c:choose>
                                        <c:when test="#{not empty supervisorBean.getListaLavisos(controlAutorizacion.usuario)}">
                                            <p:selectOneRadio value="#{supervisorBean.lAviso.id_Aviso}" layout="pageDirection" id="Lista_de_avisos_nuevos" required="true" >
                                                <f:selectItems value="#{supervisorBean.getListaLavisos(controlAutorizacion.usuario)}" var="bk" itemLabel="#{bk.id_Aviso} : #{bk.nombre}" itemValue="#{bk.id_Aviso}" />
                                            </p:selectOneRadio>
                                            <p:commandButton value="Ver aviso" id="verAviso" action="#{controlAviso.setAvisoN(supervisorBean.lAviso.id_Aviso)}" ajax="false" />

                                        </c:when>
                                        <c:otherwise>
                                            <h:outputText value="No hay avisos cerrados"/>
                                        </c:otherwise>
                                    </c:choose>
                                </h:form>
                            </p:tab>
                        
                            <p:tab title="Avisos Cerrados">
                                <h:form id="avisosCerrados">
                                <c:choose>
                                    <c:when test="#{not empty supervisorBean.listaCavisos}">
                                        <p:selectOneRadio value="#{supervisorBean.cAviso.id_Aviso}" layout="pageDirection" id="Lista_de_avisos_cerrados" required="true">
                                            <f:selectItems value="#{supervisorBean.listaCavisos}" var="bk" itemLabel="#{bk.id_Aviso} : #{bk.nombre}" itemValue="#{bk.id_Aviso}"/>
                                        </p:selectOneRadio>
                                        <p:commandButton value="Ver aviso" id="verAviso" action="#{controlAviso.setAvisoN(supervisorBean.cAviso.id_Aviso)}" ajax="false" />
                                    </c:when>
                                    <c:otherwise>
                                        <h:outputText value="No hay avisos cerrados"/>
                                    </c:otherwise>
                                </c:choose>
                                </h:form>
                            </p:tab>
                        
                            <p:tab title="Historial de avisos">
                                <h:form id="historialAvisos">
                                <c:choose>
                                    <c:when test="#{not empty supervisorBean.listaTavisos}">
                                        <p:selectOneRadio value="#{supervisorBean.tAviso.id_Aviso}" layout="pageDirection" id="Lista_de_todos_avisos" required="true">
                                            <f:selectItems value="#{supervisorBean.listaTavisos}" var="bk" itemLabel="#{bk.id_Aviso} : #{bk.nombre}, Estado: #{bk.estado}, Fecha: #{bk.notificaciones.fecha}" itemValue="#{bk.id_Aviso}"/>
                                        </p:selectOneRadio>
                                        <p:commandButton value="Ver aviso" id="verAviso" action="#{controlAviso.setAvisoN(supervisorBean.tAviso.id_Aviso)}" ajax="false" />                                        
                                    </c:when>
                                    <c:otherwise>
                                        <h:outputText value="No hay avisos cerrados"/>
                                    </c:otherwise>
                                </c:choose>
                                    </h:form>
                            </p:tab>
                            </p:tabView>
                    </p:layoutUnit>
                </p:layout>

            </c:when>
            <c:otherwise>
                <ui:include src="/WEB-INF/templates/errorAutorizacion.xhtml"/>
            </c:otherwise>
        </c:choose>
    </ui:define>

</ui:composition>
