<ui:composition template="/WEB-INF/templates/plantilla.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui">
    <ui:define name="title">Pagina principal del trabajador</ui:define>
    <ui:define name="contenido">
        <c:choose>
            <c:when test="#{controlAutorizacion.usuario.rol == 'TRABAJADOR'}">
                <p:layout  style="min-width:400px;min-height:500px;">
                    <p:layoutUnit position="center" resizable="true" size="100" minSize="500" maxSize="600">
                        <h:form id="trabajador">      
                            <p:growl id="msgs" showDetail="true" />
                            <p:tabView id="tablaOT">
                                <p:tab title="Ordenes de Trabajo">
                                    <p:selectOneRadio value="#{controlOT.orden.id_Orden}" layout="pageDirection" id="Lista_de_ordenes_cerradas" required="true">
                                        <f:selectItems value="#{controlTrabajador.getOrden()}" var="bk" itemLabel="ID: #{bk.id_Orden} -- Estado: #{bk.estado}" itemValue="#{bk.id_Orden}"/>
                                    </p:selectOneRadio>
                                    <p:commandButton value="Modificar/ver OT" id="modificarAviso" action="#{controlOT.setOrdenTrabajo()}" ajax="false" />
                                    <p:commandButton value="Ver aviso" id="verAviso" action="#{controlBusqueda.setId(controlOT.orden.id_Orden)}" ajax="false" />
                                </p:tab>
                            </p:tabView>  
                        </h:form>
                    </p:layoutUnit>
                </p:layout>
            </c:when>
            <c:otherwise>
                <ui:include src="/WEB-INF/templates/errorAutorizacion.xhtml"/>
            </c:otherwise>
        </c:choose>
    </ui:define>

</ui:composition>
